<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LogReader.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DiscardNull" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DtrEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>XOnXOff</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ParityPlace" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="PName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ReadBufferSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RcvBytesThreshold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RtsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="WriteBufferSize" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="NewLine" serializeAs="String">
                <value>
                </value>
            </setting>
        </LogReader.Properties.Settings>
    </userSettings>
</configuration>