<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PortName" value="COM1"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="DiscardNull" value="False"/>
    <add key="DtrEnable" value="True"/>
    <add key="Handshake" value="XOnXOff"/>
    <add key="Parity" value="None"/>
    <add key="ParityReplace" value="63"/>
    <add key="ReadBufferSize" value="4096"/>
    <add key="ReadTimeout" value="-1"/>
    <add key="ReceivedBytesThreshold" value="1"/>
    <add key="RtsEnable" value="False"/>
    <add key="StopBits" value="One"/>
    <add key="WriteBufferSize" value="2048"/>
    <add key="WriteTimeout" value="-1"/>
    <add key="NewLine" value=""/>
    <add key="Pattern" value="\n\s*(?&lt;tdate&gt;\d{1,2}/[\s|\d]{1,2}/\d{2})\s*(?&lt;ttime&gt;\d{1,2}:\d\d[AM|PM]+)\s*((?&lt;textcode&gt;\d\d\d\s)\s*(?&lt;tlineno&gt;\d\d\s))?\s*(?&lt;theader&gt;&lt;.*incoming\s*&gt;)?\s*(?&lt;tno&gt;\d*)\s*.*\n"/>
    <add key="Command" value="q_log_call"/>
    <add key="Parameters" value="tdate,ttime,textcode,tlineno,theader,tno"/>
    <add key="Debug" value="True" />
    <add key="LogFile" value="E:\Log.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="SCMLogger" connectionString="Data Source=.\sqlserver;Initial Catalog=SCM;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

