<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PortName" value="COM1"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="DiscardNull" value="False"/>
    <add key="DtrEnable" value="True"/>
    <add key="Handshake" value="XOnXOff"/>
    <add key="Parity" value="None"/>
    <add key="ParityReplace" value="63"/>
    <add key="ReadBufferSize" value="4096"/>
    <add key="ReadTimeout" value="-1"/>
    <add key="ReceivedBytesThreshold" value="1"/>
    <add key="RtsEnable" value="False"/>
    <add key="StopBits" value="One"/>
    <add key="WriteBufferSize" value="2048"/>
    <add key="WriteTimeout" value="-1"/>
    <add key="NewLine" value=""/>
    <add key="Pattern" value="\n\s(?&lt;tdate&gt;[0-9|/]+)\s+(?&lt;ttime&gt;[0-9|:|AM|PM]+)\s+(?&lt;textcode&gt;[0-9]+)\s+[0-9]+\s+(?:&lt;incoming&gt;)?(?&lt;tno&gt;0[0-9]+)\s+.*"/>
    <add key="Command" value="q_log_call"/>
    <add key="Parameters" value="tdate,ttime,textcode,tlineno,theader,tno,tdur"/>
    <add key="Debug" value="True" />
    <add key="LogFile" value="E:\Log.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="SCMLogger" connectionString="Data Source=.\sqlserver;Initial Catalog=SCM;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

